.git
.gitignore
.env.example
*.md
README.md
docker-compose.yml
Dockerfile
docker/
*.log
yarn.lock
npm-debug.log
.DS_Store
Thumbs.db
storage/*.key
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
tests/
tmp/
.cache/
build.sh
Procfile
phpunit.xml
.postcssrc.js
.tailwind.config.js
vite.config.js
node_modules/
public/build/